h2 {
    color: #fbca03;
    -webkit-text-stroke: 1px rgb(20, 20, 20);
    font-family: 'Bangers', cursive;
    font-size: 40px;
    margin: 0;
}

h3 {
    color: white;
    font-family: 'Staatliches', cursive;
    font-weight: lighter;
    font-size: 22px;
    padding-right: 20px;
}

a {
    color: white;
    text-decoration: underline;
}

input {
    cursor: pointer;
}

img {
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.btns, .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 15px;
  }

button {
    background-image: linear-gradient(10deg, rgb(255, 255, 255), rgb(197, 183, 183), rgb(255, 255, 255));
    color: #fbca03;
    -webkit-text-stroke: 1.5px rgb(20, 20, 20);
    font-family: 'Bangers', cursive;
    font-size: 26px;
    padding: 5px;
    border-radius: 30px;
    width: 75vw;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    color: white;
    font-family: 'Staatliches', cursive;
    font-weight: lighter;
    font-size: 12px;
    margin-left: 5px;
}

button:hover {
background-color: rgb(165, 164, 164);
}

@media screen and (min-width: 768px) {
    
    h2 {
        font-size: 54px;
    }


    h3 {
        width: 50vw;
        font-size: 24px;
    }

    img {
        margin-bottom: 10px;
        margin-left: 0;
    }

    .btns {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }

    button {
        width: 50vw;
      }

}

@media screen and (min-width: 1024px) {
    
    h2 {
        font-size: 84px;
    }
    
    h3 {
        width: 50vw;
    }

}