h2 {
    font-size: 50px;
    padding: 40px;
    color:  rgb(234, 244, 255);
    text-align: center;
    border-radius: 30px;
    -webkit-text-stroke: 1px rgb(20, 20, 20);
}

section {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    color:  rgb(27, 143, 252);
}

input {
    cursor: pointer;
}

button {
    font-family: 'Bangers', cursive;
    -webkit-text-stroke: 1.2px rgb(20, 20, 20);
    padding: 5px 5px;
    font-size: 25px;
    border-radius: 10px;
    background-image: linear-gradient(10deg, rgb(226, 235, 238), rgb(0, 119, 255), rgb(221, 0, 0), rgb(0, 119, 255), rgb(226, 235, 238));
    color: rgb(243, 245, 247);
    width: 100%;
    text-align: center;
    cursor: pointer;
    /* background-image: linear-gradient(10deg, rgb(0, 0, 0), rgb(0, 119, 255), rgb(0, 0, 0)); */
    background-image: url(../img/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* button:hover {
background-color: rgb(165, 164, 164);
} */

@media screen and (min-width: 768px) {

   
}

@media screen and (min-width: 1024px) {

   
}
