<header>
    <h1>Who's Your Inner Superhero?</h1>
</header>  

<section *ngFor="let question of questions;">
    <div *ngIf="question.id == currentItem && currentGroup <= 6">
        <h3>Question {{question.group}} of 6</h3>
        <h2>{{question.text}}</h2>
    </div>
    
<div class="container" *ngIf="question.group == currentGroup"> 
      
<form>
<div *ngIf="currentGroup == 1;else otherGroup">
        
<label class="container">
    <img class="choice" src={{question.imageUrl}}>
        <input class="answers" name="answers" type="radio" [(ngModel)]="answers" value="{{question.gender}}"/>
            <p>{{question.answer}}</p>
</label>
</div> 

<div>
    <ng-template #otherGroup>
<label class="container">
    <img class="choice" src={{question.imageUrl}}>
        <input class="answers" name="answers" type="radio" [(ngModel)]="answers" value="{{question.points}}"/>
            <p>{{question.answer}}</p>
</label>
</ng-template>
</div>
</form>
</div>

</section>   
<div class="btns"> 
<div *ngIf="currentGroup < 6; else elseBlock">
    <button class="question_btn" (click) = "gatherAnswers(answers)">Next Question</button>
</div>

<div>
    <ng-template #elseBlock>
        <button class="question_btn" (click) = "gatherAnswers(answers)" routerLink="/results">I'm Ready for My Secret Identity</button>
    </ng-template>
</div>
</div>