/* You can add global styles to this file, and also import other style files */
body {
    font-family:'Times New Roman', Times, serif;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-image: radial-gradient(circle, rgb(218, 204, 204) 10%, rgb(178, 210, 216) 100%);
}

header {
    font-size: 28px;
    font-weight: bold;
    color:  rgb(243, 245, 247);
    background-image: linear-gradient(45deg, rgb(226, 235, 238), rgb(41, 158, 179),  rgb(226, 235, 238));
}