/* You can add global styles to this file, and also import other style files */
body {
    padding-left: 0px;
    position:absolute;
    width: 100%;
    font-family: 'Bangers', cursive;

}

header {
    width: auto;
    height: auto;
    font-size: 23px;
    /* color:  rgb(0, 119, 255); */
    /* color:  red; */
    color:  gold;
    -webkit-text-stroke: 1px rgb(20, 20, 20);
    background-image: url(../src/app/img/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}